@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #ffffff;
  background: #bc2131;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
p {
  font-weight: 300;
}

a {
    text-decoration: none;
    color: #ffffff;
    padding: .1em .3em;
    border-radius: .2em;
}

a.delete {
    /*visibility: hidden;*/
    display: none;
}

a:hover {
    background-color: #f0f0f0;
    color: #1295C1;
}

span.list_item:hover > a.delete{
    /*visibility: visible;*/
    display: inline;
}

li {
    margin-bottom: 1em;
}

span.tag{
    margin-left: .5em;
    margin-right: .5em;
}

.font-normal {
  font-weight: 400;
}
.font-semi-bold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
